header {
  background-color: #b2f3d8;
}

.branding {
  display: grid;
  place-items: center;
  max-width: 95%;
  margin: 0 auto;
}

.logo {
  width: 80px;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: #33325d;
  text-align: center;
}

.title a {
  text-decoration: none;
  color: inherit;
}

nav {
  max-width: 95%;
  margin: 1rem auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 1rem;
}

nav li:last-of-type {
  margin-right: 0;
}

@media screen and (min-width: 480px) {
  .logo {
    width: 100px;
  }
  .title {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 150px;
  }

  .title {
    font-size: 2rem;
  }
}
